---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h2>Introduction</h2>
        <p>
          Hi, I'm Deit aka tdeit. I’m currently learning Reverse Engineering, with a growing interest in Digital Forensics and Cryptography.
          I also play CTFs with <Link
            href="https://ctftime.org/team/378289"
            class="text-foreground"
            underline
            external
          >Fate//Decide</Link> – a team of students from different universities.
        </p>

        <h2>Information</h2>
        <ul>
          <li><strong>Fullname:</strong> Trần Hữu Thành Đạt</li>
          <li><strong>Discord:</strong> tdeit</li>
        </ul>

        <h2>Achievements</h2>
        <ul>
          <li>🥇 1st Prize - EHCTF 2025</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
